[Unit]
Description=HomeBus publisher
After=network.target

[Service]
Type=simple
User=homebus
WorkingDirectory=/home/homebus/homebus-oha-hmpxv
ExecStart=/home/homebus/.rbenv/bin/rbenv exec bundle exec bin/homebus-oha-hmpxv
TimeoutSec=30
Restart=always

[Install]
WantedBy=multi-user.target

